extends baseEmail

block content
    p Hi #{data.first_name},
    p Welcome to Gbenga Olufeyimi's todolist application! This todolist web application will be updated from time, so please enjoy every aspect of it.